apiVersion: v1
kind: Service
metadata:
  name: machine-dashboard-service
  namespace: default
spec:
  type: NodePort
  selector:
    app: machine-dashboard
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      nodePort: 30080
